* {
  margin: 0rem;
  padding: 0rem;
}

body {
  margin: 0rem;
  background-image: linear-gradient(
    to right,
    rgb(12, 103, 238),
    rgb(0, 240, 248) 70%,
    white
  );
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}
header {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0rem;
  justify-content: space-between;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50vw;
  margin-right: 40px;
}

#logo-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

#logo p {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

#logo p:hover {
  color: black;
  transition: 0.5s;
}

#logo_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#logo h1 {
  display: inline;
  margin: 0rem;
  font-size: 3.2rem;
  font-weight: bolder;
}

#logo h6 {
  display: inline;
  margin: 0rem;
  font-size: 2.5rem;
  font-weight: 100;
}

#logo img {
  height: 8.5rem;
  width: 8.5rem;
  border-radius: 70%;
  border: 2px solid #ffffff;
  margin: 0.5rem 0.5rem;
  display: inline;
}

#user-edit {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 50vw;
  margin-right: 0rem;
}

#search-bar {
  height: 2.5rem;
  width: 90%;
  font-size: 1rem;
  font-family: Arial;
  margin-right: 10rem;
  border-radius: 2rem;
  border: 1px solid rgb(210, 223, 226);
  text-align: center;
  background: #12193e;
  caret-color: white;
}

#search-bar:hover {
  box-shadow: 1px 1px 8px 1px rgb(6, 84, 111);
}

.nosubmit {
  position: relative;
}

.fa {
  position: absolute;
}

::placeholder {
  color: #5f6f84;
}

.fa-magnifying-glass {
  top: 30%;
  left: 10px;
  font-size: 20px;
  color: #ffffff;
}

.fa-microphone {
  top: 30%;
  right: 12%;
  font-size: 20px;
  color: #93a8b3;
}

#bell {
  width: 10%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fa-bell {
  font-size: 30px;
  color: #12193e;
}

.fa-circle-small {
  color: red;
  font-size: -15px;
  position: absolute;
  right: -3px;
  top: 0px;
}

#user img {
  height: 70px;
  margin: 0px 25px 0px 5px;
  border-radius: 50%;
  border: 2px solid gray;
}

#user img:hover {
  box-shadow: 1px 1px 8px 1px gray;
}

#fav-que{
  display: none;
}

#logo-list-proxy{
  display: none;
}



/*--main*/

main {
  display: flex;
  flex-direction: column;
  display: inline-block;
  width: 70%;
  height: 70vh;
  overflow-x: hidden;
  overflow-y: auto;
}

/*--carousel--*/

#carousel {
  height: 77%;
  width: 100%;
  margin: 1rem 0rem;
  display: flex;
  justify-content: center;
}

#carousel-container {
  width: 90%;
  height: 100%;
  padding: 0.5rem 0rem;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

#carousel figure {
  position: relative;
  width: 400%;
  left: 0px;
  animation: 20s slider infinite;
}

.caro-div {
  display: flex;
  align-items: row;
  width: 25%;
  float: left;
  height: 30rem;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.caro-img {
  width: 45%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.caro-img img {
  margin: 0px;
  height: auto;
  width: 20vw;
}

.content {
  margin-top: 0.9rem;
  display: flex;
  width: 55%;
  height: 100%;
  flex-direction: column;
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.content a {
  margin-top: 5rem;
  color: white;
  font-size: 4rem;
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
  color: black;
  transition: 0.3s;
}

.content p {
  margin-top: 0.9rem;
  color: black;
}

.content button {
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 2.5rem;
  width: 30%;
  color: white;
  background-color: #12193e;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 4rem;
}

.content button:hover {
  background-color: #01579b;
  color: black;
  transform: scale(1.1);
  transition: 0.6s;
}

.content span {
  position: absolute;
  top: 0.4rem;
  font-size: 1.7rem;
  margin-bottom: 0.4rem;
}

@keyframes slider {
  0% {
    left: 0;
  }
  15% {
    left: 0;
  }
  30% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  60% {
    left: -200%;
  }
  75% {
    left: -200%;
  }
  90% {
    left: -300%;
  }
  100% {
    left: -300%;
  }
}

/*--latest-release--*/

#latest_release {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

#latest-container {
  width: 90%;
}

.heading {
  margin: 3rem 0rem 1rem 0rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 20;
}

.latest-songs {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0, 0);
}

.div-2-songs {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

#b,
#d {
  margin-right: 0rem;
}

.songs-div {
  padding: 1rem;
  width: 50%;
  margin-right: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 0, 0.4);
  cursor: pointer;
}

.songs-div:hover {
  transform: scale(1.05);
  transition: 0.4s;
}

.song-main {
  display: flex;
}

.latest-songs-img img {
  width: 6rem;
  height: 6rem;
}

.latest-songs-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.latest-songs-content p {
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  margin-top: 0.5rem;
}

.songs-div:hover h3 {
  color: black;
  text-decoration: underline;
  transition: 0.4s;
}

/*--popular artist--*/
#popular_artist {
  width: 100%;
  display: flex;
  justify-content: center;
}

#popular-container {
  width: 90%;
}

#popular-content {
  display: flex;
  overflow-x: scroll;
}

.artist {
  width: 16%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.5);
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.artist-img {
  position: relative;
}

.artist-img i {
  position: absolute;
  color: white;
  top: 70%;
  right: 5%;
  font-size: 2rem;
  display: none;
  box-shadow: 2px 2px 15px white;
  border-radius: 50%;
}

.artist-img img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  box-shadow: 0px 0px 15px black;
}

.artist-cont {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.artist-cont span {
  font-family: Arial;
  text-decoration: underline;
}

.artist:hover {
  background-color: rgb(0, 0, 0, 0.4);
  transition: 0.4s;
}

.artist:hover img {
  box-shadow: 0px 0px 15px white;
}

.artist:hover i {
  display: block;
  transition: 0.4s;
  transform: scaleY(1);
}

.artist:hover .artist-cont {
  color: white;
  transition: 0.4s;
}

#a6 {
  margin-right: 0px;
}

/*--stations--*/

#stations {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  margin: 2rem 0rem;
}

#stations-container {
  width: 90%;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  background: rgb(0, 0, 0, 0.6);
}
#stations-content {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
}

#stations-main {
  padding: 1rem 2rem 1rem 1rem;
  position: relative;
}

#stations-main h5 {
  position: absolute;
  top: -13px;
  left: 27%;
  color: white;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: 0.2s linear;
}

.outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#outer-1 {
  width: 9.5rem;
  height: 6rem;
  background-color: yellowgreen;
  z-index: 1;
  transition: 0.2s linear;
}

#outer-2 {
  width: 8rem;
  height: 6.5rem;
  background-color: rgb(113, 168, 3);
  z-index: 2;
  transition: 0.2s linear;
  position: relative;
  transition: 0.2s linear;
}

#inner {
  position: absolute;
  width: 7rem;
  height: 7rem;
  z-index: 3;
  transition: 0.2s linear;
  position: relative;
}

#inner img {
  width: 100%;
  height: auto;
  z-index: 0;
}

.sation-inner-container {
  width: 6rem;
  height: 6rem;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 1rem;
  z-index: 2;
  position: relative;
}

.sation-inner-container img {
  width: 7rem;
  height: 6rem;
  z-index: 1;
  transition: 0.6s linear;
}

.stations-tag {
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0%;
  position: absolute;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.sation-inner-container:hover img {
  transform: scale(1.2);
}

.sation-inner-container:hover .stations-tag {
  color: black;
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.5);
}

.sation-inner-container:hover {
  box-shadow: 0px 0px 20px black;
}

#stations-container:hover #outer-2 {
  transform: scaleX(1);
}

#stations-container:hover #outer-1 {
  transform: scaleX(1.2);
}
#stations-container:hover #inner {
  transform: scaleX(0.88);
}

#stations-container:hover h5 {
  color: yellowgreen;
}

/*--mood--*/

#mood {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mood-container-main {
  width: 90%;
  display: flex;
}

#mood-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
#m1 {
  background-image: url("music-ss/mood/part.png");
}

#m2 {
  background-image: url("music-ss/mood/electronic.png");
}

#m3 {
  background-image: url("music-ss/mood/road-trip.png");
}

.mood-div {
  width: 100%;
  height: 10rem;
  background-size: cover;
  transition: 0.3s linear;
}

.mood-type {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

.mood-overflow {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-right: 1rem;
}

#mo-3 {
  margin-right: 0px;
}

.mood-overflow:hover .mood-div {
  transform: scale(1.2);
  background-color: rgba(0, 0, 0, 0.4);
}

/*--latest-english/hindi songs--*/

#latest_english {
  width: 100%;
  display: flex;
  justify-content: center;
}

#latest_hindi {
  width: 100%;
  display: flex;
  justify-content: center;
}

.latest-songs-container {
  width: 90%;
}

.latest-content {
  display: flex;
}

.new-songs {
  width: 16%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.l6 {
  margin-right: 0px;
}

.song-img img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.song-img {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
}

.new-songs-content {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 0.5rem;
  transition: 0.2s linear;
}

.new-songs-content h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.new-songs-content span {
  font-family: Arial;
  font-size: 13px;
}

.song-img .lp {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0%;
  color: white;
  font-size: 30px;
  border-radius: 5px;
  transition: 0.2s linear;
}

.song-img .lp i {
  display: none;
  border-radius: 50%;
}

.new-songs:hover .lp {
  background-color: rgba(0, 0, 0, 0.4);
}

.new-songs:hover .lp i {
  display: block;
  box-shadow: 0px 0px 10px 5px rgb(85, 241, 252);
}

.new-songs:hover .new-songs-content {
  color: #12193e;
}

.new-songs:hover .new-songs-content span {
  text-decoration: underline;
}

#latest-songs-container-head{
  margin-top: 1rem;
}

/*----aside----*/

aside {
  position: absolute;
  width: 25%;
  height: 70vh;
  left: auto;
  display: inline-block;
  vertical-align: top;
  overflow-x: scroll;
  overflow-y: auto;
  border-left: 1px solid black;
  padding-left: 3rem;
  margin: 1rem 6rem 0rem 0rem;
}

#queue {
  display: flex;
  justify-content: space-between;
}

#queue h1 {
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
}

.dropdown {
  display: inline-block;
  width: 12rem;
  position: relative;
  z-index: 5;
}

#queue-btn {
  text-align: right;
}

.click i {
  margin-left: 1rem;
}

.click {
  background-color: transparent;
  color: rgb(0, 0, 58);
}

.click:hover {
  color: white;
}

.click,
.links {
  padding: 0.6rem;
  font-family: Arial;
  border: none;
  outline: none;
  width: 12rem;
  transition: 0.3s;
}

.list {
  position: absolute;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
  border-radius: 5rem;
}

.newlist {
  transform: scaleY(1);
}

.links {
  background-color: #001642;
  font-size: 1.2em;
  color: #ffff;
  padding: 5px;
  text-decoration: none;
  margin: 0px;
}

.list a {
  color: #ffff;
  font-size: bold;
  text-decoration: none;
}

.links:hover {
  background-color: #01579b;
  transform: scale(1.1);
}

.songs-list {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.song-item {
  list-style-type: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  color: white;
  margin-bottom: 0.8rem;
  padding: 0.3rem;
  width: 100%;
}

.song-item:hover {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
  transition: 0.4s;
}

.song-item {
  display: flex;
  align-items: center;
  position: relative;
  width: 90%;
}

.songs-list .song-item img {
  height: 3.4rem;
  width: 3.4rem;
  display: inline-block;
  border-radius: 4px;
  margin-right: 0.6rem;
  z-index: 1;
  position: absolute;
}

.song-item span {
  width: 10%;
  color: #3a5272;
}

.song-item i {
  position: absolute;
  right: 0.4rem;
  color: #001642;
}

.singer {
  font-size: 0.7rem;
  color: #3a5272;
}

.song-item h5:hover {
  transition: 0.3s;
  color: #001642;
}

.music-play {
  border-radius: 4px;
  display: flex;
  align-items: flex-end;
  width: 3.4rem;
  height: 3.4rem;
  /* background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4); */
  margin-right: 0.3rem;
}

#wave-id {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-right: 0.6rem;
  position: relative;
  width: 3.4rem;
  height: 3.4rem;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 4;
}

#wave-id .wave1 {
  width: 0.3rem;
  height: 0.9rem;
  border-radius: 10px 10px;
  background: #ffffff;
  animation: wave 1s linear infinite;
  display: none;
}

#wave-id .wave1:nth-child(2) {
  height: 2rem;
  animation-delay: 0.5s;
  margin-left: 8.4px;
}

#wave-id .wave1:nth-child(3) {
  height: 0.7rem;
  animation-delay: 1s;
  margin-left: 8.4px;
}

@keyframes wave {
  0% {
    height: 1rem;
  }
  15% {
    height: 1rem;
  }
  30% {
    height: 1.5rem;
  }
  45% {
    height: 1.5rem;
  }
  60% {
    height: 2.5rem;
  }
  75% {
    height: 2.5rem;
  }
  90% {
    height: 0.8rem;
  }
  100% {
    height: 0.8rem;
  }
}

#aniControl {
  width: 3.4rem;
  height: 3.4rem;
  display: none;
}

#aniControl:checked + label > #wave-id {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}

#aniControl:checked + label > #wave-id .wave1{
  display: block;
}

/*--footer--*/
footer {
  background-color: rgba(249, 249, 98, 0.788);
  width: 100%;
  height: 9%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  bottom: 0px;
  z-index:7;
  text-overflow: ellipsis;
}

#music-name{
  width:15%;
  height:70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0px 30px;
}

#music-photo img{
  width: 50px;
  height: 50px;
}

#music-play-name{
  margin:10px
}

#music-play-name h6{
  font-size: 20px;
  display: flex;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#music-play-name h6 i{
  font-size: 15px;
  margin:3px;
}

#music-play-name span{
  font-size:15px;
  font-family:Arial, Helvetica, sans-serif
}

#music-player{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 40%;
}

#music-buttons{
  display: flex;
}

#music-buttons i{
  margin:10px;
  color: white;
  cursor: pointer;
}

#music-buttons .fa-pause{
  display: none;
}

#btnControl {
  display: none;
}

#btnControl:checked + label > .fa-play {
  display: none;
}

#btnControl:checked + label > .fa-pause {
  display: block;
}

#music-bar{
  color:white;
  display: flex;
  width: 100%;
  align-items: center;
}

#music-bar .bar{
  position: relative;
  border-radius: 50%;
  width: 100%;
  height: 2px;
  /* background: rgba(38, 38, 40, 0.5); */
  margin: 0px 15px 0px 10px;
}

#music-bar .bar .bar2{
  position: absolute;
  background: cyan;
  width: 0%;
  height: 100%;
  top: 0;
}

/* #music-bar .bar .dot{
  position: absolute;
  width: 5px;
  height: 5px;
  background: cyan;
  border-radius: 50%;
  left:0%;
  top:-1px;
  transform: translateX(-50%);
  z-index: 100;
  transition: 1s linear;
} */

/* #music-bar .bar .dot::before{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid cyan;
  border-radius: 50%;
  left:-6px;
  top:-6px;
  box-shadow: inset 0px 0px 3px cyan;
} */


#music-bar .bar input{
  -webkit-appearance: none;
  position: absolute;
  width: 100%;
  top:-1px;
  z-index: 99;
  cursor: pointer;
  border-radius: 50%;
  opacity: 1;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.416);
  box-shadow: inset 0px 0px 3px black;
}

#seek::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  background-color: cyan;
  cursor: pointer;
  border:2px solid white;
  box-shadow: inset 0px 0px 6px white;
}


#sound-sec{
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 20px;
}

/* #sound-sec .vol{
  position: relative;
  width:100px;
  height: 2px;
  background: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 50px;
  box-shadow: 0px 0px 3px black;
} */

#sound-sec i{
  color: rgb(0, 0, 0);
  margin-right: 8px;
}

#sound-sec .vol input{
  position: relative;
  /* width: 100%; */
  height: 0px;
  top:-2px;
  right:5px;
  z-index: 99;
  cursor: pointer;
  opacity: 1;
  border:2px solid black;
  box-shadow: 0px 0px 3px black;
}

.vol input::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  background-color: cyan;
  cursor: pointer;
  border:2px solid white;
  box-shadow: inset 0px 0px 6px white;
}

/* #sound-sec .vol #vol_bar{
  position: absolute;
  background: cyan;
  width: 0%;
  height: 100%;
  top: 0;
} */

/* #sound-sec .vol .dot{
  position: absolute;
  width: 5px;
  height: 5px;
  background: cyan;
  border-radius: 50%;
  left:0%;
  top:-1px;
  transition: 1s linear;
} */

/* #sound-sec .vol .dot::before{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid cyan;
  border-radius: 50%;
  left:-6px;
  top:-6px;
  box-shadow: inset 0px 0px 3px cyan;
} */

/*--scroll-barr--*/
::-webkit-scrollbar{
  width:.5em;
}

::-webkit-scrollbar-track{
  opacity: 0;
}

::-webkit-scrollbar-thumb{
  opacity: 1;
  width: .5em;
  background-image: linear-gradient(to top, pink, yellow);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover{
  opacity: 1;
  width: .5em;
  background-image: linear-gradient(to top, rgb(255, 0, 43), rgb(94, 255, 0));
  border-radius: 20px;
  transition: .3s linear;
}

/*--media-queries--*/
@media only screen and (max-width: 992px){
  aside{
    padding-left: 2rem;
    margin-right: 1rem;
    right: 0px;
    width: 25.9%;
  }
  
}

@media only screen and (max-width: 992px){
  aside{
    padding-left: 2rem;
    margin-right: 1rem;
    right: 0px;
    
  }
  aside .song-item{
    width:90%;
  }
}

@media only screen and (max-width: 992px){
  aside{
    padding-left: 1rem;
    margin-right: 1rem;
    right: 0px;
    width: 27.2%;
  }
  aside .song-item{
    width:90%;
  }
}

@media only screen and (max-width: 992px){
  #carousel-container .caro-img img{
    width:70%;
  }
  aside{
    display: none;
  }
  #fav-que{
    height: 50px;
    display: block;
    background-color: #01589b8e;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }
  #fav-que li{
    display: inline;
    margin:30px;
  }

  #logo-list{
    display: none;
  }

  #fav-que li a{
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
  }
  main{
    width: 100%;
  }
}

@media only screen and (max-width: 992px ) and (min-width: 600px){
  
  .nosubmit #search-bar{
    position: relative;
    top: 0px;
    
  }

  .nosubmit .fa-microphone{
    display: inline;
  }

  ul li .fa{
    display: none;
  }

  .nosubmit .fa-magnifying-glass{
    margin-right:30px ;
    z-index: 2;
    
  }

  #logo img{
    width:20vw;
    height: auto;
  } 

  #logo h1{
    font-size: 2.5rem;
  }

  #logo h6{
    font-size: 1.5rem;
  }
  #carousel-container figure{
    display: flex;
    flex-direction: column;
    position: relative;
  }
  #latest_hindi .latest-songs-container{
    margin-bottom: 10vw;
  }
  #sound-sec{
    position: relative;
    right: 2%;
  }
  #sound-sec input{
    width:80%;
    position: relative;
    left: 5%;
  }
  
}

@media only screen and (min-width: 0px) and (max-width: 600px){
  h2{
    font-size: 4vw;
  }
  .heading{
    margin-top: 5vw;
  }
  h3{
    font-size: 3vw;
  }
  .latest-songs-content p{
    font-size: 2vw;
    color: #12193e;
  }
  .mood-div{
    height: 5rem;
  }
  #latest-songs-container-heading{
    margin-bottom: 6rem;
  }
  .caro-img{
    display: none;
  }
  #caro-div1{
    background-image: url(music-ss/love-story.png) ;
    background-color: #12193e69;
    background-repeat: no-repeat;
    background-size: 100% 83%;
  }

  #caro-div2{
    background-image: url(music-ss/pop.png);
    background-repeat: no-repeat;
    background-size: 100% 83%;
  }

  #caro-div3{
    background-image: url(music-ss/lofi.png);
    background-repeat: no-repeat;
    background-size: 100% 83%;
  }
  
  .content{
    width: 100%;
    align-items: center;
    background-color: #00000084;
  }
  .content p{
    background-color: #7ea9ff;
  }
  .artist-img img{
    width: 15vw;
    height: auto;
  }
  .artist-cont span{
    font-size: 2vw;
  }
  .mood-type{
    font-size: 3vw;
  }
  #search-bar{
    display: none;
  }
  #fav-que{
    width: 100%;
  }
  #fav-que ul{
    width: 100%;
  }
  ul li .fa{
    position: relative;
    top: 100%;
  }
  #Queue-li{
    display: flex;
    justify-content: space-between;
  }
  .content a{
    font-size: 2rem;
  }
  .latest-songs-img img{
    width: 15vw;
    height: auto;
  }
  h5{
    font-size: 2vw;
  }
  .new-songs-content span {
    font-size: 1.5vw;
    color: #12193e;
  }
  .new-songs-content{
    align-items: start;
  }
  #music-play-name h6 {
    font-size: 4vw;
  }
  #music-play-name span{
    font-size: 2.5vw;
  }
  #music-play-name h6 i{
    font-size: 2.5vw;
  }
  #sound-sec .vol input{
    display: none;
  }
  #music-name{
    width: auto;
    margin: 0px 2vw;
  }
  #sound-sec .fa-headphones{
    display: none;
  }

  .fa-volume-high{
    cursor: pointer;
  }

  #sound-sec{
    margin: 0px;
  }
}

@media only screen and (max-width: 992px ) and (min-width: 600px){
  #search-bar{
    display: none;
  }

  .nosubmit .fa-microphone{
    display: none;
  }

  .nosubmit .fa-magnifying-glass{
    position: static;
    font-size: 2vw;
    margin-right: 2vw;
  }
  
  .fa-bell{
    font-size: 2vw;
  }

  #logo-list{
    display: none;
  }
  #logo-list-proxy{
    display: flex;
    padding: 20px;
    background-image: linear-gradient(
    to right,
    #12193e 60%,
    rgb(0, 240, 248)
  );
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    margin-top: 20px;
    width: 70%;
  }

  #logo-list-proxy p{
    font-size: 2vw;
    cursor: pointer;
    transition: 0.3s;
  }

  #logo-list-proxy p:hover{
    color:rgb(244, 191, 121);
  }

}

@media only screen and (min-width: 0px) and (max-width: 600px){
  #logo img{
    width: 50%;
    height: auto;
  }

  #logo_name h1{
    font-size: 7vw;
  }

  #logo_name h6{
    font-size: 5vw;
  }

  #search-bar{
    display: none;
  }

  .nosubmit .fa-microphone{
    display: none;
  }

  .nosubmit .fa-magnifying-glass{
    position: static;
    font-size: 3vw;
    margin-right: 3.5vw;
  }
  
  .fa-bell{
    font-size: 3vw;
  }

  #logo-list{
    display: none;
  }
  #logo-list-proxy{
    display: flex;
    padding: 20px;
    background-image: linear-gradient(
    to right,
    #12193e 60%,
    rgb(0, 240, 248)
  );
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    margin-top: 20px;
    width: 70%;
  }

  #logo-list-proxy p{
    font-size: 2vw;
    cursor: pointer;
    transition: 0.3s;
  }

  #logo-list-proxy p:hover{
    color:rgb(244, 191, 121);
  }

  #user-edit{
    width: 20%;
    height: auto;
    padding-right: 8%;
  }

  #user a img{
    width:100%;
    height: auto;
    margin-left: 25%;
  }
}